body {
    background-image: url("https://images.pexels.com/photos/988873/pexels-photo-988873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

#mouse {
    position: absolute;
    width: 195px;
    bottom: 0px;
}


