#container {
    position: relative;
    left: 50px;
    width: 1800px;
    height: 950px;
    border: 5px white solid;
    background-image: url("https://www.pexels.com/photo/dirty-gray-grey-hard-285437/");
    cursor: pointer;
}

body {
  background: #87cefd;
  color: #fff;
}

#mouse {
    position: absolute;
    width: 100px;
    left: 900px;
    bottom: 0px;
    content: url("https://www.freepngimg.com/thumb/rat%20mouse/3-little-mouse-rat-png-image.png");
}


